<div id="<%= dom_id god %>">
  <p>
    <strong>Id:</strong>
    <%= god.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= god.name %>
  </p>

  <p>
    <strong>Created At:</strong>
    <%= god.created_at %>
  </p>
</div>